<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "Index", "Language")</li>
    <li>@Html.ActionLink("Hindi", "Index", "Language")</li>
    <li>@Html.ActionLink("Marathi", "Index", "Language")</li>
</ul>
